// Theme B variables
$base-color: blue;
$important-color: darkblue;
$warning-color: cyan;
$primary-font: "Courier New", monospace;
$secondary-font: Georgia, serif;
$border-radius: 10px;
$box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
