// Theme A variables
$base-color: red;
$important-color: darkred;
$warning-color: pink;
$primary-font: Arial, sans-serif;
$secondary-font: "Times New Roman", serif;
$border-radius: 0px;
$box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.3);
